button{
    background-color: white;
    border: none
}

.align-left{
    display: flex;
    align-items: center;
    width: 70%;

}

.align-right{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: right;
}