h1{
    text-align: center;
    width: 100%
}

.todo-container{
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.item-container{
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding: 3%;
}